// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

/**
 * Theme
 */
body {
  background: $bg-color;
}

/**
 * Theme - Aside
 */
.aside {
  background: $text-color;
  color: $bg-color;
  transition: 0.3s;

  @include media-query($on-laptop) {
    transition: none;
  }
}

/**
 * Theme - Aside (title)
 */
.site-title {
  color: $brand-color;
}

/**
 * Theme - Aside (author, subtitle)
 */
.site-author,
.site-subtitle {
  display: block;
  font-size: 50%;
  font-weight: normal;
}

.site-author {
  color: $comp-theme;
}

/**
 * Theme - Aside links
 */
.aside-link {
  color: $bg-color;
  @include on-event{
    color: inherit;
    text-decoration: none;
  }
  &:visited {
    color: inherit;
    @include on-event {
      color: inherit;
    }
  }
}

/**
 * Theme - Main footer
 */
.main-footer {
  background: $light-grey;
  font-size: 85%;
}

/**
 * Theme - Posts list (meta)
 */
.post-link + .post-meta {
  @extend .site-subtitle;
}

.next {
  margin-left: 0.50rem;
}
.previous {
  margin-right: 0.50rem;
}

/**
 *
 */
.home,
.post,
.pagination {
  //background: $mid-grey;
}
