// -----------------------------------------------------------------------------
// When having several themes, this file contains everything related to the
// default one.
// -----------------------------------------------------------------------------

body {
  background: $bg-color;
}

.aside {
  background: $text-color;
  color: $bg-color;
  transition: 0.3s;

  @include media-query($on-laptop) {
    transition: none;
  }
}

.main-footer {
  background: $light-grey;
}

.home,
.post,
.pagination {
  background: $mid-grey;
}
