<div class="container pagination">
  {% if paginator.previous_page %}
    <a class="previous button" href="{{ paginator.previous_page_path | relative_url }}" title="Previous Page">&laquo; Prev</a>
  {% else %}
    <span class="previous button-empty" title="Previous Page">&laquo; Prev</span>
  {% endif %}

  <span class="page_number button-empty">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="next button" href="{{ paginator.next_page_path | relative_url }}" title="Next Page">Next &raquo;</a>
  {% else %}
    <span class="next button-empty" title="Next Page">Next &raquo;</span>
  {% endif %}
</div>
