<div class="container pagination">
  {% if paginator.previous_page %}
    <a class="previous" href="{{ paginator.previous_page_path | relative_url }}" title="Previous">&laquo; Prev</a>
  {% else %}
    <span class="previous" title="Previous">&laquo; Prev</span>
  {% endif %}

  <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | relative_url }}" title="Next">Next &raquo;</a>
  {% else %}
    <span class="next" title="Next">Next &raquo;</span>
  {% endif %}
</div>
