// -----------------------------------------------------------------------------
// This file contains all styles related to the icon component.
// -----------------------------------------------------------------------------

/**
 * Icon - Burguer
 */

.burguer {
  position: fixed;
  z-index: 100;
  top: 1rem;
  right: 1rem;

  padding: 0.50rem;
  line-height: 0;
  background: rgba($text-color, 0.3);
  &:hover {
    cursor: pointer;
  }

  @include media-query($on-laptop) {
    display: none;
  }
}

#menu-icon {
  display: none;

  &:checked ~ .aside {
    left: 0;
  }
}
